.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%
}
.logo {
    float: left;
    text-align: right;
    width: 50%;
}

.help {
    float: left;
    width: 50%;
    color: red;
    height: 50%;
}

.help-header-container {
    width: 100%;
}

.help-main-container a {
    font-size: 20px;
}

.container {
    margin: 0 5%;
    text-align: center;
}
.first-bar {
    background-color: #EEEEEE  ;
    /* text-align: center; */
}

.first-bar p {
    margin: 0;
    font-size: 20px;
    
}
.first-bar input[type="text"] {
    height: 21px;
}
.first-bar input[type="submit" ] {
    font-size: 16px;
}

.container-2 {
    display: flex;
    flex: 1;
    
} 
.left-bar {
    background-color: #7EE5DA;
    margin-right: 2px;
    margin-top: 2px;
    width: 40%;
    padding: 1%;
}

.middle-bar {
    background-color: #70CCC2;
    margin-right: 2px;
    margin-top: 2px;
    width: 20%;
    padding: 0.5%;
}

.right-bar {
    background-color: #62B3AA;
    margin-top: 2px;
    width: 45%;
    padding: 0%;
}

.container-2 input[type="text"] {
    height: 21px;
    width: 200px;
}

.container-2 input[type="submit"] {
    height: 25px;
    width: 75px;
    
}

p {
    text-align: center;
}

/* .container {
    width: 400px;
} */
.center {
    text-align: center;
}